<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:/logs/erexus-internal-nlog.txt">

  <variable name="logDirectory" value="c:/logs/erexus/${date:format=yyyy-MM}"/>

  <targets>
    <target xsi:type="File" name="main-log"
            fileName="${logDirectory}/main-${shortdate}.log"
            layout="${longdate} ${message}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="main-log" />
  </rules>
</nlog>
