<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:/logs/erexus-internal-nlog.txt">

  <variable name="logDirectory" value="c:/logs/erexus"/>

  <targets>
    <target xsi:type="File" name="main-log"
            fileName="${logDirectory}/main-${shortdate}.log"
            layout="${longdate} ${message}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Trace" writeTo="main-log" />
  </rules>
</nlog>