@model RequestVM

@{
    ViewData["Title"] = "Details";
}

<h2>Request details</h2>
<hr />

@{ Html.RenderPartial("_DetailsPartial", Model); }

<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="List" asp-route-env="@Model.Env" class="btn btn-primary">Back to List</a>
</div>
