<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Erexus</title>

    <environment include="Development">
        <link href="~/lib/bootswatch/spacelab/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootswatch/spacelab/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Gugleus von Erexus non Dominus</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">Requests<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Requests" asp-action="Dev" asp-route-page="">Dev</a></li>
                            <li><a asp-area="" asp-controller="Requests" asp-action="Rc" asp-route-page="">Rc</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Requests" asp-action="Prod" asp-route-page="">Prod</a></li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dev</a></li>
                            <li><a href="#">Rc</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Prod</a></li>
                        </ul>
                    </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">Logs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Logs" asp-action="Dev" asp-route-page="">Dev</a></li>
                            <li><a asp-area="" asp-controller="Logs" asp-action="Rc" asp-route-page="">Rc</a></li>
                            <li><a asp-area="" asp-controller="Logs" asp-action="Prod" asp-route-page="">Prod</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Logs" asp-action="Erexus">Erexus</a></li>
                        </ul>
                    </li>
                </ul>

                @{ Html.RenderPartial("_LoginPartial");}

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Gugleus</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
