@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log off
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>*@
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}